/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
:root {
  --color-0: #fbfaff;
  --color-1: #f8f4f1;
  --color-2: #181818;
  --color-3: #8381b9;
  --color-4: #f55709;
  font-family: 'IBM Plex Mono', monospace;
}

a,
a:hover,
a:focus,
a:active,
a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--color-2);
  padding: 0;
  min-height: 100vh;
}

.header-container {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid .01px var(--color-1);
}

.header-title {
  padding: 8px 16px;
  border-radius: 12px;
  font-family: "IBM Plex Mono";
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-1);
}

.header-title span {
  color: var(--color-3);
  font-style: italic;
}

.header-title:hover {
  color: var(--color-3);
  font-weight: 700;
}

.header-title:hover span {
  color: var(--color-1);
}

.btn-mode {
  padding: 8px 16px;
  border-radius: 8px;
  border: solid 2px var(--color-1);
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-1);
  background-color: var(--color-2);
  cursor: pointer;
}

.btn-mode:hover {
  background-color: var(--color-3);
}

main .remove {
  display: none;
}

.main-container {
  max-width: 900px;
  padding: 100px 0;
  margin: 0 auto;
  gap: 40px;
  color: var(--color-1);
}

.start-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.start-container p {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  font-size: 1.125rem;
  line-height: 2rem;
}

.btn-start {
  margin: 0 auto;
  display: block;
  background-color: var(--color-4);
  border: solid 2px var(--color-1);
  padding: 16px 32px;
  border-radius: 8px;
  color: var(--color-1);
  font-weight: 700;
  font-family: 'IBM Plex Mono';
  font-size: 1.5rem;
}

.btn-start:hover {
  background-color: var(--color-3);
  cursor: pointer;
}

.selection-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selection-text {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  font-size: 1.125rem;
  line-height: 2rem;
}

.btn-container {
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

.selection-btn {
  background-color: var(--color-4);
  border: solid 2px var(--color-1);
  padding: 8px 16px;
  border-radius: 8px;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-1);
  min-width: 120px;
}

.selection-btn:hover {
  background-color: var(--color-3);
  cursor: pointer;
}

footer {
  background-color: var(--color-2);
  z-index: 1;
}

.bottom-0 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  border-top: solid 1px var(--color-1);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer-menu-left a {
  background-color: var(--color-3);
  border: solid 2px var(--color-1);
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--color-1);
  font-weight: 700;
}

.footer-menu-left a:hover {
  background-color: var(--color-2);
}

.footer-menu-right a {
  background-color: var(--color-4);
  border: solid 2px var(--color-1);
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--color-1);
  font-weight: 700;
}

.footer-menu-right a:hover {
  background-color: var(--color-2);
}

.footer-menu-right {
  color: var(--color-1);
}