@import '/css/base.css';

.user-tracks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  color: var(--color-1);
}

.user-tracks-container p,
.recommendation-tracks-container p {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  font-size: 1.125rem;
  line-height: 2rem;
}

.tracks-information-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  padding: 40px 0;
}

.tracks-information-container .selected {
  background-color: var(--color-3);
}

.track-information {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: var(--color-1);
  border: solid 2px var(--color-1);
  border-radius: 16px;
  padding: 16px 16px;
  gap: 16px;
}

.track-information img {
  max-width: 60px;
}

.track-information:hover {
  background-color: var(--color-3);
  cursor: pointer;
}

.track-info-right {
  display: block;
  overflow: hidden;
}

.track-information .track-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-information .track-artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-title {
  font-weight: 700;
}

@media (max-width: 800px) {
  .tracks-information-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;
    margin: 0 32px;
  }
  .track-information {
    min-width: 300px;
    padding: 8px 8px;
    border-radius: 8px;
  }
  .recommendation-tracks-container p {
    padding: 0 16px;
  }
}